<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>

  <body>

    <div class="container-fluid">

      <!-- Static navbar -->

      <nav class="navbar navbar-default" role="navigation">

          <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>

            </button>
            
            <a class="navbar-brand" href="/">Block Zaebock</a>

          </div> 

          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="/">Home</a></li>
              <li><a href="/articles">List of articles</a></li>
              <li><a href="/articles/new">New article</a></li>
            </ul>
			    </div>          
     
      </nav>

      <% if user_signed_in? %>
      Hello <%= current_user.username%> epta! | <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
      <% else %>
      <%= link_to 'Sign in', new_user_session_path %> pidoraso!
      <% end %>

      <% unless flash[:notice].blank? %>
	      <div class="alert alert-info">
		      <%= flash[:notice] %>
	      </div>
	    <% end %>

      <% unless flash[:alert].blank? %>
        <div class="alert alert-danger">
          <%= flash[:alert] %>
        </div>
      <% end %>

      <div class="container">
        <%= yield %>
      </div>

    </div>

  </body>

</html>
